@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background: rgb(255, 255, 255);
}

.topo {
    background-color: #2e2c29;
    opacity: 0.8;
    /* border-top: 3px solid black; */
}

.topo p {
    padding: 10px;
    text-align: right;
    margin-right: 400px;
    color: #ed931f;
}

.img-foco {
    position: absolute;
    z-index: -10;
    top: 0px;
    margin: 0px;
    width: 100%;
    text-align: center;
}

.img-foco img {
    width: 100%;
    height: auto;
}

.nav {
    display: flex;
    flex: 20%;
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.nav-logo {
    display: flex;
    flex: 20%;
    margin-top: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10%;
    /* border: solid white 2px; */
}

.nav-logo img {
    display: flex;
    width: 50px;
    margin-right: 10px;
    /* border: solid white 2px; */
}

.nav-logo h1 {
    /* border: solid white 2px; */
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
}

.nav-menu {
    margin-right: 15%;
    width: 60%;
    /* border: 3px solid #0ce23a; */
    text-align: right;
}

.nav-menu ul li {
    margin: 0px 15px;
    padding: 10px;
    display: inline-block;
}

.nav-menu ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.nav-menu ul li a:hover {
    color: #ed931f;
}

.section {
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    /* border: solid 3px black; */
}

.section h2 {
    color: white;
    font-size: 50px;
}

.section p {
    margin-top: 20px;
    color: white;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: solid 2px green; */
}

.section a {
    display: inline-block;
    padding: 15px;
    background-color: #ed931f;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
}

.section a:hover {
    background-color: #555351;
    color: #ed931f;
    padding: 15px 17px;
    border-radius: 3px;
}

.section-midde {
    display: flex;
    margin-top: 300px;
    flex: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* border: solid 2px green; */
    margin-left: 10%;
    margin-left: 10%;
}

.img-foco-midde {
    display: flex;
    flex: 10%;
    margin-top: 40px;
    height: 600px;
    /* border: solid 2px black; */
}

.img-foco-midde img {
    width: 600px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px;
}

.info-midde {
    display: flex;
    flex: 30%;
    position: relative;
    /* float: left; */
    margin-right: 10%;
    margin-top: 5%;
    flex-direction: column;
    align-items: flex-start;
    /* border: solid 2px green; */
    text-align: center;
}

.info-midde h2 {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    width: 80%;
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: #555351;
    /* border: solid 2px green; */
}

.info-midde p {
    display: block;
    margin-left: 25px;
    margin-right: 50px;
    margin-top: 10px;
    padding: 20px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    border-left: solid 3px #ed931f;
}

.section-bottom {
    margin-left: 10%;
    margin-left: 10%;
    width: 80%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 200px;
    /* border: solid 3px green; */
}

.section-bottom-title {
    text-align: center;
    border-bottom: solid 5px #ed931f;
    padding: 20px 10px 10px 20px;
    text-decoration: none;
    font-family: "Playball", cursive;
    font-weight: 400;
    font-size: 35px;
    color: #555351;
    font-style: normal;
    margin: 5%;
}

.container-services {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    /* border: solid 2px black; */
    flex: 100%;
}

.container-services .card-a {
    text-align: center;
    text-decoration: none;
    font-family: "Playball", cursive;
    font-weight: 400;
    font-size: 35px;
    color: white;
    font-style: normal;
}

.card {
    background-color: #555351;
    margin-top: 50px;
    text-align: center;
    /* border-radius: 5%; */
}

.card img {
    margin-top: 80px;
}

.card h2 {
    font-size: 30px;
}

.card p {
    font-size: 20px;
    margin: 5px 10px;
    font-family: 'Times New Roman', Times, serif;
}

.card-btn {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: auto;
    background-color: #ed931f;
    color: white;
    text-align: center;
    font-size: 20px;
    margin: 20px;
    text-decoration: none;
    border-radius: 3px;
}

.card-btn:hover {
    background-color: #2e2c29;
    color: #ed931f;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 60px;
    margin: 0px;
}

.anim-img {
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-left: 10%;
    text-align: center;
    margin-bottom: 100px;
    /* border: 1px solid #000; */
}

.anim-img img {
    position: absolute;
    bottom: 10px;
    right: 25%;
    width: 500px;
    margin: 50px;
}

.footer {
    background-image: linear-gradient(#ed931f, black);
    height: 200px;
    border-top: solid 5px #2e2c29;
    text-align: center;
    position: relative;
}

.footer p {
    color: white;
    font-family: "Playball", cursive;
    font-weight: 400;
    font-size: 45px;
    margin: 20px;
}

#copyright {
    position: absolute;
    font-size: 20px;
    bottom: 5px;
    right: 38%;
    text-align: center;
    margin-bottom: 0px;
}

#viewcep {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.terms {
    font-size: 15px;
    color: green;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

#whats {
    position: fixed;
    right: 5px;
    bottom: 20px;
}

#whats img {
    width: 50px;
}

#whats img:hover {
    width: 55px;
    opacity: 0.8;
}